<div class="container">

    <form class="example-form" [formGroup]="formCategoria">
        <mat-form-field class="example-full-width">
            <mat-label>Categoria</mat-label>
            <input matInput placeholder="Ex. Alimentação" formControlName="nome">
        </mat-form-field>

        <mat-form-field class="example-full-width" >
            <mat-label>Descrição</mat-label>
            <textarea matInput placeholder="Digite as informações importantes" formControlName="descricao"></textarea>
        </mat-form-field>

        <button mat-raised-button color="primary" [disabled]="!formCategoria.valid" (click)="salvarCategoria()">Salvar</button>
    </form>

</div>